---
---

@import "{{ site.theme }}";
.section-nav {
    text-align: center;
    padding-top: 40px;
    position: relative;
    background: top center no-repeat;
    margin: 40px -20px 10px;
}
.align-right {
    text-align: right;
}
.left {
    float: left;
}
.align-right {
    text-align: right;
}
.right {
    float: right;
}