---
layout: default
title:新艺油画
---
<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="UTF-8">
<title>新艺油画</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/normalize.css" media="screen">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/github-light.css" media="screen">
<link rel='icon' href='{{ site.baseurl }}/images/impasto.ico' type=‘image/x-ico’ /> 
</head>
<body>
	<section class="page-header">
	    <h1 class="project-name">新艺油画</h1>
		<h2 class="project-tagline">一款移动设备端的3D油画工具</h2>
		<a href="https://soyatec.github.io/oilpainting/fr" class="btn">French</a>
		<a href="https://soyatec.github.io/oilpainting/" target="_blank" class="btn">English</a>
	</section>
	<section class="main-content">
		<h1>{{page.title}}</h2>
		{{content}}
		
		<p><a href = "https://soyatec.github.io/oilpainting/cn">返回主页</a></p>
		<hr>
		{% include disqus.html %}
		<footer class="site-footer">
			<div align="center">
			<span class="site-footer-credits">新艺油画 @<a href="http://www.soyatec.com">松亚科技</a></span>
			</div>
		</footer>
	</section>
</body>
</html>
