<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#157878">
<link rel="stylesheet"
	href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel='icon' href='{{ site.baseurl }}/images/impasto.ico'
	type=‘image/x-ico’ />
<title>Atelier - Peinture à l'huile</title>
</head>
<body>
	<section class="page-header">
		<h1 class="project-name">Atelier - Peinture à l'huile</h1>
		<h2 class="project-tagline">Première mondiale en simulation réaliste de peinture à l'huile</h2>
		<a href="https://soyatec.github.io/oilpainting/" target="_blank" class="btn">English</a>
		<a href="https://soyatec.github.io/oilpainting/zh" target="_blank" class="btn">简体中文</a>
	
	</section>
	<section class="main-content">
		<h1>{{page.title}}</h1>
		{{content}}
		
		<hr>
		<ul>
			<li>Go
				<p>
					<a href="https://soyatec.github.io/oilpainting/fr">Back to Home</a>
				</p>
			</li> 
			{% if page.previous != nil%}
			<li>Previous
				<p>
					<a href="{{page.previous.url}}">{{page.previous.title}}</a>
				</p>
			</li> 
			{% endif %}
			{% if page.next != nil %}
			<li>Next
				<p>
					<a href="{{page.next.url}}">{{page.next.title}}</a>
				</p>
			</li> 
			{% endif%}
		</ul>
		<hr>
		{% include disqus.html %}
		<footer class="site-footer">
			<div align="center">
			<span class="site-footer-credits">Atelier - Peinture à l'huile @<a href="http://www.soyatec.com">Soyatec</a></span>
			</div>
		</footer>
	</section>
</body>
</html>
